:root {
  --background-color: #0D0D0D;
  --foreground-color: #E7ECCF;
  --accent-color: #BEFF00;

  --font-header: 'SöhneMono Halbfett Kursiv';
  --font-subheader: 'ABCMaxi';
  --font-subheader-bold: 'BCMaxi Bold';
  --font-body: 'Söhne Kräftig';
  --font-body-bold: 'Söhne Fett';

  --border-radius: 20px;
  --border-width: 2px;
}

.light-theme {
  --background-color: #E7ECCF;
  --foreground-color: #0D0D0D;
  --accent-color: #FF0065;
}
